@tailwind base;
@tailwind components;
@tailwind utilities;  

html{
  scroll-behavior: smooth;
}
/* Ocultar scrollbar para navegadores modernos */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}


body{
  scrollbar-width: none;

} 
body::-webkit-scrollbar {
    display: none;
  }
  
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blog-posts h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-posts p{
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

@media screen and (max-width: 768px) {
  .blog-posts h3 {
    font-size: 1.125rem;
  }
  .blog-posts p{
    font-size: 0.85rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  } 
}
